h1 {
    color: rgb(14, 52, 125);
    text-align: center;
}
h2{
    color: orangered;
}
img {
    max-width : 400px;
    max-height : 300px;

}
body {
    background-color: dimgray; 
}
u{
    color: orangered;
}
a:hover{
    color: red;
}
